# in-.local-share/larynx/voices/es-es/karen_savage-glow_tts/generator.pth filter=lfs diff=lfs merge=lfs -text
# in-.local-share/larynx/voices/es-es/karen_savage-glow_tts/generator.onnx filter=lfs diff=lfs merge=lfs -text
# in-.local-share/glow-speak/voices/es_tux/generator.onnx filter=lfs diff=lfs merge=lfs -text
